@charset "ISO-8859-1";
#booktitle{
	text-align: center;
	padding-right: 7%;
	font-weight: bold;
}

#bookauthor{
	text-align: center;
	font-weight: bold;
	padding-right: 7%;
	font-size: 140%;
}

.BookCovers{
	height: 300px;
	width: 210px;
	margin: 10px;
    border-radius: 5%;
}

.bookcoverpad{
	padding-right: 7%;
}

.bookdecription{
	padding-top: 3%;
	font-size: 120%;
}

.ProfilePic{
	max-height: 50px;
	max-width: 50px;
	height: 50px;
	width: 50px;
    border-radius: 50%;
    margin-top: 40%;
    margin-bottom: 50%;
}

#logo{
	width:	150px; 
	height:	50px;
}

#noReviewsLab{
	text-align: center;
    margin-top: 10%;
    color: rgba(0, 0, 0, 0.5);
}

#commentusername{
	font-weight: bold;
	padding-top: 7%;
}

#commenttime{
	font-weight: bold;
	padding-top: 7%;
	padding-left: 10%;
}

#commenttext{
	float: left;
	padding-top: 1%;
}

#collapseReviewBtn{
	margin-bottom: 2%;
}

.commentbox{
	margin-top: 5%;
	padding-left: 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.1);
	border-color: #000;
	border-radius: 25px;
}

#tooltip {
	margin-left: 4%;
    display: inline-block;
}

#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -55%;
    opacity: 0;
    transition: opacity 0.3s;
}

#tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.LikesList{
	color: white;
}

.LikesList:hover{
	color: #29B6F6;
}
