@charset "ISO-8859-1";
#welcomename{
	color: #000;
	font-weight: bold;
	padding-top: 1%;
	font-size: 125%;
	text-align: center;
	padding-right: 5%;
}

#Sign_out_button{
	float: right;
}

#navbar_logo{
	padding-left: 11%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 2px;
  padding: 2px;
}

.grid-container > div {
	background: rgba(0,0,0,.1);
	border-radius: 25px;
}

#userPhoto{
	max-height: 50px;
	max-width: 50px;
	height: 50px;
	width: 50px;
    border-radius: 50%;
}

#HeaderLabelPurchased, #HeaderLabelActive, #HeaderLabelLiked{
	color: #000;
	font-weight: bold;
	padding-top: 1%;
	font-size: 150%;
	font-style: italic;
	text-decoration: underline;
}

.viewall{
	align: right;
}

.likedbooks{
	padding-left: 30px;
	margin: 10px;
}

.bookCoversLanding{
	width: 100px;
	height: 150px;
 	border-radius: 5%;
}

#ViewAllButtonPurchased, #ViewAllButtonActive, #ViewAllButtonLiked{
	float: right;
    display: inline-block;
 	font-weight: bold;
 }