@charset "ISO-8859-1";
body
{
	margin: 0;
	padding: 0;
	background: url(../../Images/Background.jpg);
	background-size: cover;
	font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #A9A9A9;
}

.BookCovers{
	height: 260px;
	width: 180px;
	margin: 10px;
}

.BookData{
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

#PurchasedButton{
	text-align: center;
	font-weight: bold;
	background-color: #03A9F4;
	border-radius: 20px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: default;
    width: 110%;
}

#PurchaseButton{
	text-align: center;
	font-weight: bold;
	background-color: #03A9F4;
	border-radius: 20px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
}

#tooltip {
    display: inline-block;
    margin-left: -10%;
}

#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60%;
    opacity: 0;
    transition: opacity 0.3s;
}

#tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
