@charset "ISO-8859-1";
#UsersHeader{
	font-weight: bold;
	text-align: center;
	padding-bottom: 1%;
}

#Sign_out_button{
	float: right;
}

#navbar_logo{
	padding-left: 11%;
}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 20%;
}

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}


.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 300px;
}

#mesgBtnNew, #mesgBtnOld{
	margin-bottom: 1%;
}

.panel-title{
	margin-top: 1%;
}

.tab button.active {
    background-color: #ccc;
}

.tab button:hover {
    background-color: #ddd;
}

#EmailTime{
	text-align: right;
}

.modal {
    display: none; /* Hidden by default */
    width: 50%; 
    height: 60%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0);
	margin-top: 10%;
	margin-left: 25%;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#no-new-msg, #no-old-msg{
	text-align: center;
	margin-top: 10%;
	margin-right: 13%;
	color: rgba(0, 0, 0, 0.5);
}

.modal-dialog{
    overflow-y: initial
}

.modal-footer{
    max-height: 400px;
    overflow-y: auto;
}

/* The Close Button */
.close {
    color: #AAAAAA;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

textarea {
    resize: none;
    min-width: 100%;
  	height: 100px;
}

.ModalButton{
	margin-top: 2%;
}

#SendSuccess
{
	padding-right: 10%;
	text-align: left;
	color: green;	
}

#SendError{
	padding-right: 10%;
	text-align: left;
	color: red;	
}

.MessageContent{
	text-align: left;
}

#SentFrom{
	font-size: 120%;
}

.circle {
	float: right;
	border: 2px solid #666666;
	border-radius: 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;

	-webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	width: 14px;
	height: 14px;
	z-index: 86;

	-webkit-transition: background-color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out;
	-o-transition: background-color .5s ease-in-out;
	-ms-transition: background-color .5s ease-in-out;
	transition: background-color .5s ease-in-out;
}

.filledCircle {
		float: right;
	border: 2px solid #666666;
	border-radius: 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;

	-webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	width: 14px;
	height: 14px;
	z-index: 86;

	-webkit-transition: background-color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out;
	-o-transition: background-color .5s ease-in-out;
	-ms-transition: background-color .5s ease-in-out;
	transition: background-color .5s ease-in-out;
	background-color: #666666;
}


.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;e
    background-color: white;
    overflow: hidden;
}