@charset "ISO-8859-1";
body
{
	margin: 0;
	padding: 0;
	background: url(../../Images/Background.jpg);
	background-size: cover;
	font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #A9A9A9;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2px;
  padding: 2px;
}

.grid-container > div {
	background: rgba(0,0,0,.1);
	border-radius: 25px;
}

.BookCovers{
	max-height: 220px;
	max-width: 100%;
	margin: 10px;
}

.BookData{
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

#tooltip {
    display: inline-block;
    margin-left: -10%;
}

#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60%;
    opacity: 0;
    transition: opacity 0.3s;
}

#tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#Header{
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	margin-left: 3%;
}

.LikesList{
	color: white;
}

.LikesList:hover{
	color: #29B6F6;
}
