@charset "ISO-8859-1";
body
{
	margin: 0;
	padding: 0;
	background: url(../../Images/Background.jpg);
	background-size: cover;
	font-family: sans-serif;
}

h3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #A9A9A9;
}

.ProfilePic{
	max-height: 50px;
	max-width: 50px;
	height: 50px;
	width: 50px;
    border-radius: 50%;
}

#noTrans {
    text-align: center;
    margin-top: 10%;
    color: rgba(0, 0, 0, 0.5);
}

#UsersHeader{
	font-weight: bold;
	text-align: center;
	padding-bottom: 1%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    text-align: center;
    padding: 5px;
}

#TableLocation {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#TableLocation tr:nth-child(even){
	background-color: #f2f2f2;
	table-layout: fixed;
  	border-collapse: collapse;
}

#TableLocation th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: middle;
    background-color: #BCAAA4;
    color: white;
}

#table-scroll{
	height:550px;
	overflow:auto;
}

tbody tr:hover.selected td,
tbody tr:hover td {
  background-color: #B3E5FC;
}