<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="../../lib/angular.min.js"></script>
<script src="../../lib/jquery-3.2.1.js"></script>
<link rel="stylesheet"
	href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/AdminTransactions.css" />
<link rel="stylesheet" href="../css/AdminGlobalDesign.css" />
<script src="../javascript/AdminTransactionsController.js"></script>
<script src="../../helperService.js"></script>
<title>Admin - Transactions Page</title>
</head>
<body ng-app="app" ng-controller="adminTransactionsController">
	<ul>
		<b>
			<li><a href="AdminHomePage.html">Home</a></li>
			<li><a href="AdminUsers.html">Users</a></li>
			<li><a href="AdminTransactions.html">Transactions</a></li>
			<li><a href="AdminReviews.html">Reviews</a></li>
			<li><a id="TabMessages" href="AdminMessages.html">Messages</a></li>
			<li style="padding-left: 11%">
				<img style="width:150px; height:50px;" alt="logo" src="../../Images/Logo.jpg">
			</li>
			<li style="float:right"><a class="active" ng-click="SignOutFunc()" href="../../Login.html">Sign Out</a></li>
		</b>
	</ul>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<h2 id="UsersHeader">Transactions</h2>
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6">
						</div>
						<div class="col-sm-2">
						</div>
						<div class="col-sm-2">
							<p id="userFilterLine"><b>Filter according to username:</b></p>
							<select id="userFilter" class="form-control" ng-model="userFilter" ng-change="FilterUsers()">
							    <option ng-repeat="user in users">{{user}}</option>
	    					</select>
						</div>
						<div class="col-sm-2">
							<p id="bookFilterLine"><b>Filter according to book name:</b></p>
							<select id="bookFilter" class="form-control" ng-model="bookFilter" ng-change="FilterBooks()">
							    <option ng-repeat="book in books">{{book}}</option>
	    					</select>
						</div>
					</div>
					<div id="table-scroll">
						<table id="TableLocation">
						    <tr>
						    	<th>Username</th>
						    	<th>Bookname</th>
						    	<th>Amount</th>
						    	<th>Time</th>
						    </tr>
						    <tr ng-repeat="transaction in transactions">
						    	<td>{{transaction.username}}</td>
						    	<td>{{transaction.bookname}}</td>
						    	<td>${{transaction.price}}</td>
						    	<td>{{GetDateFormat(transaction.time)}}</td>
						    </tr>
						</table>
					</div>
				</div>
			</div>
			<div id="noTrans">
				<h1>No Transactions</h1>
			</div>
		</div>
	</div>
</body>
</html>