<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="../../lib/angular.min.js"></script>
<script src="../../lib/jquery-3.2.1.js"></script>
<link rel="stylesheet"
	href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/AdminMessages.css" />
<script src="../javascript/AdminMessagesController.js"></script>
<script src="../../helperService.js"></script>
<title>Admin - Messages Page</title>
</head>
<style>
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
</style>
<body ng-app="app" ng-controller="adminMessagesController">
	<ul>
		<b>
			<li><a href="AdminHomePage.html">Home</a></li>
			<li><a href="AdminUsers.html">Users</a></li>
			<li><a href="AdminTransactions.html">Transactions</a></li>
			<li><a href="AdminReviews.html">Reviews</a></li>
			<li><a href="AdminMessages.html">Messages ({{unread}})</a></li>
			<li style="padding-left: 11%">
				<img style="width:150px; height:50px;" alt="logo" src="../../Images/Logo.jpg">
			</li>
			<li style="float:right"><a class="active" href="../../Login.html">Sign Out</a></li>
		</b>
	</ul>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<h2 id="UsersHeader">Messages</h2>
				<div class="col-sm-12">
				</div>
			</div>
			<div class="row">
				<div class="tab">
				  <button class="tablinks" ng-click="openTab($event, 'NewMessages')" id="defaultOpen"><b>New Messages ({{unread}})</b></button>
				  <button class="tablinks" ng-click="openTab($event, 'OldMessages')"><b>Old Messages</b></button>
				</div>
				
				<div id="NewMessages" class="tabcontent">
					<button class="accordion" ng-repeat="newMessage in UnrepliedMessages">
					<b><div class="col-sm-4">
						From {{newMessage.username}}
					</div>
					<div class="col-sm-4">
						Subject: {{newMessage.subject}}
					</div>
					<div id="EmailTime" class="col-sm-4">
						{{GetDateFormat(newMessage.receiptdate)}}
					</div></b>
					</button>
					<div class="panel">
						<p>{{newMessage.message}}</p>
					</div>
				</div>
				
				<div id="OldMessages" class="tabcontent">
					<button class="accordion" ng-repeat="newMessage in RepliedMessages">
					<b><div class="col-sm-4">
						From {{newMessage.username}}
					</div>
					<div class="col-sm-4">
						Subject: {{newMessage.subject}}
					</div>
					<div id="EmailTime" class="col-sm-4">
						{{GetDateFormat(newMessage.receiptdate)}}
					</div></b>
					</button>
					<div class="panel">
						<p>{{newMessage.message}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>