<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="../../lib/angular.min.js"></script>
<script src="../../lib/jquery-3.2.1.js"></script>
<link rel="stylesheet"
	href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/AdminReviews.css" />
<script src="../javascript/AdminReviewsController.js"></script>
<script src="../../helperService.js"></script>
<title>Admin - Reviews Page</title>
</head>
<body ng-app="app" ng-controller="adminReviewsController">
	<ul>
		<b>
			<li><a href="AdminHomePage.html">Home</a></li>
			<li><a href="AdminUsers.html">Users</a></li>
			<li><a href="AdminTransactions.html">Transactions</a></li>
			<li><a href="AdminReviews.html">Reviews</a></li>
			<li><a href="AdminMessages.html">Messages ({{unread}})</a></li>
			<li style="padding-left: 11%">
				<img style="width:150px; height:50px;" alt="logo" src="../../Images/Logo.jpg">
			</li>
			<li style="float:right"><a class="active" href="../../Login.html">Sign Out</a></li>
		</b>
	</ul>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<h2 id="UsersHeader">Unapproved Reviews</h2>
				<div class="col-sm-12">
					<div class="panel-group" id="accordion">
						<div class="panel panel-default container-fluid" ng-repeat="comment in comments">
							<div class="panel-heading row" style="cursor: pointer;">
								<div class="col-sm-1">
									<img data-toggle="collapse" data-parent="#accordion" href="{{'#collapse' + $index}}" aria-expanded="false" aria-controls="{{'collapse' + $index}}" class="ProfilePic" ng-src="{{comment.photo}}" />
								</div>
								<div class="col-sm-11">
									<h4 class="panel-title">
         								<p data-toggle="collapse" data-parent="#accordion" href="{{'#collapse' + $index}}" aria-expanded="false" aria-controls="{{'collapse' + $index}}">
         								<b>{{comment.username}}</b><br/><small>{{comment.bookName}}<br/>{{GetTimeFormat(comment.time)}}</small>
         								</p>
        							</h4>
								</div>
      						</div>
      						<div id="{{'collapse' + $index}}" class="panel-collapse collapse">
        						<div class="panel-body">
        						{{comment.description}}<br/>
        						<button id="approve" type="button" class="btn btn-success btn-sm approve" ng-click="GiveAnswer('Accept')" >Approve</button>
        						<button id="decline" type="button" class="btn btn-danger btn-sm decline" ng-click="GiveAnswer('Decline')">Decline</button>
        						</div>
      						</div>
						</div>
					</div>
				</div>
			</div>
			<div id="noReviews">
				<h1>No Reviews</h1>
			</div>
			    <!-- The Modal -->
				<div id="myModal" class="modal">									
					<!-- Modal content -->
					<div class="modal-content">
						<span class="close" ng-click="MyModalFunc()">&times;</span>
						<div class="modal-title">
							<b><p>Are you sure you wish to {{answer}} this comment?</p></b>
						</div>
						<div class="modal-footer">
 							<button type="button" data-dismiss="modal" ng-click="FinalAnswer('Yes')" class="btn btn-primary" id="Yes">Yes</button>
   							<button type="button" data-dismiss="modal" ng-click="FinalAnswer('No')" class="btn" id="No">No</button>
						</div>								    
					</div>
				</div>
		</div>
	</div>
</body>
</html>