<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="../../lib/angular.min.js"></script>
<script src="../../lib/jquery-3.2.1.js"></script>
<link rel="stylesheet"
	href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/AdminUsers.css" />
<link rel="stylesheet" href="../css/AdminGlobalDesign.css" />
<script src="../javascript/AdminUsersController.js"></script>
<script src="../../helperService.js"></script>
<title>Admin - Users Page</title>
</head>
<body ng-app="app" ng-controller="adminUsersController">
	<ul>
		<li><a href="AdminHomePage.html"><b>Home</b></a></li>
		<li><a href="AdminUsers.html"><b>Users</b></a></li>
		<li><a href="AdminTransactions.html"><b>Transactions</b></a></li>
		<li><a href="AdminReviews.html"><b>Reviews</b></a></li>
		<li><a id="TabMessages" href="AdminMessages.html"><b>Messages</b></a></li>
		<li id="navbar_logo">
			<img style="width:150px; height:50px;" alt="logo" src="../../Images/Logo.jpg">
		</li>
		<li id="SignOut_button"><a class="active" ng-click="SignOutFunc()" href="../../Login.html"><b>Sign Out</b></a></li>
	</ul>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<h2 id="UsersHeader">Users</h2>
			</div>
			<div class="col-sm-4" ng-repeat="user in users">
			<div class="usersBox" ng-click="viewUser(user)" style="cursor: pointer;" >
				<div class="row">
					<div class="col-sm-3">
						<img class="ProfilePic" alt="profile picture" ng-src="{{user.photo}}" />
					</div>
					<div class="col-sm-9">
						<p class="BookData">
							<u><b>Username:</b></u> {{user.username}}
						</p>
						<p class="BookData">
							<u><b>Nickname:</b></u> {{user.nickname}}
						</p>
						<p class="BookData">
							<u><b>Books Purchased:</b></u> {{user.books.length}}
						</p>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</body>
</html>