<!DOCTYPE html>
<html>
<head>
<script src="../../lib/angular.min.js"></script>
<script src="../../lib/jquery-3.2.1.js"></script>
<link rel="stylesheet"
	href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/AdminEbooks.css" />
<link rel="stylesheet" href="../css/AdminGlobalDesign.css" />
<script src="../javascript/AdminEbooksController.js"></script>
<script src="../../helperService.js"></script>
<title>Admin - Ebooks</title>
</head>
<body ng-app="app" ng-controller="adminEbooksController">
	<ul>
		<li><a href="AdminHomePage.html"><b>Home</b></a></li>
		<li><a href="AdminUsers.html"><b>Users</b></a></li>
		<li><a href="AdminTransactions.html"><b>Transactions</b></a></li>
		<li><a href="AdminReviews.html"><b>Reviews</b></a></li>
		<li><a id="TabMessages" href="AdminMessages.html"><b>Messages</b></a></li>
		<li id="navbar_logo">
			<img style="width:150px; height:50px;" alt="logo" src="../../Images/Logo.jpg">
		</li>
		<li id="Sign_out_button"><a class="active" ng-click="SignOutFunc()" href="../../Login.html"><b>Sign Out</b></a></li>
	</ul>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<h2 id="Header">
					Ebooks
				</h2>
			</div>
			<div class="grid-container">
			<div ng-repeat="book in books">
				<div class="row">
					<div class="col-sm-6">
						<a href="" ng-click="viewBook(book)"> 
							<img class="BookCovers" alt="book cover" ng-src="{{book.Photo}}" />
						</a>
					</div>
					<div class="col-sm-6">
						<p class="BookData">
							<u><b>Title:</b></u> {{book.Name}}
						</p>
						<p class="BookData">
							<u><b>Author:</b></u> {{book.Author}}
						</p>
						<p class="BookData">
							<u><b>Price:</b></u> ${{book.Price}}
						</p>
						<div id="tooltip" class="col-sm-8">
							<p class="BookData"><b>{{book.LikesNum}} Likes</b></p>
 						 	<span ng-if="book.LikesNum != 0" id="Likes{{book.Name}}" class="tooltiptext">
								<p ng-repeat="like in book.Likes">
									<a class="LikesList" href="#" ng-click="viewUser(like.username)">
										<b>{{like.nickname}}</b>
									</a>
								</p>
							</span>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</body>
</html>