
<html>
<head>
<meta charset="ISO-8859-1">
<script src="../../lib/angular.min.js"></script>
<script src="../../lib/jquery-3.2.1.js"></script>
<link rel="stylesheet"
	href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/AdminTransactions.css" />
<link rel="stylesheet" href="../css/AdminGlobalDesign.css" />
<script src="../javascript/AdminTransactionsController.js"></script>
<script src="../../helperService.js"></script>
<title>Admin - Transactions Page</title>
</head>
<body ng-app="app" ng-controller="adminTransactionsController">
	<ul>
		<li>
			<img id="logo" alt="logo" src="../../Images/Logo.jpg">
		</li>
		<li><a href="AdminHomePage.html"><b>Home</b></a></li>
		<li><a href="AdminUsers.html"><b>Users</b></a></li>
		<li><a href="AdminTransactions.html"><b>Transactions</b></a></li>
		<li><a href="AdminReviews.html"><b>Reviews</b></a></li>
		<li><a id="TabMessages" href="AdminMessages.html"><b>Messages</b></a></li>
		<li id="SignOut_button"><a class="active" ng-click="SignOutFunc()" href="../../Login.html"><b>Sign Out</b></a></li>
	</ul>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<h2 id="UsersHeader">Transactions</h2>
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-2">
							<p id="FilterLine1"><b>Search by username:</b></p>
						</div>
						<div class="col-sm-2">
							<select id="userFilter" class="form-control" ng-model="userFilter" ng-change="FilterUsers()">
							    <option ng-repeat="user in users">{{user}}</option>
	    					</select>
						</div>
						<div class="col-sm-2">
							<p id="FilterLine2"><b>Search by book name:</b></p>
						</div>
						<div class="col-sm-2">
							<select id="bookFilter" class="form-control" ng-model="bookFilter" ng-change="FilterBooks()">
							    <option ng-repeat="book in books">{{book}}</option>
	    					</select>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
    							<input type="text" id="keywordInput" ng-keyup="keyFunc()" class="search form-control" placeholder="Search by keyword..">
							</div>
						</div>
					</div>
					<div id="table-scroll">
						<table id="TableLocation">
						    <tr>
						    	<th>Username</th>
						    	<th>Bookname</th>
						    	<th>Amount</th>
						    	<th>Time</th>
						    </tr>
						    <tr ng-repeat="transaction in transactions">
						    	<td>{{transaction.username}}</td>
						    	<td>{{transaction.bookname}}</td>
						    	<td>${{transaction.price}}</td>
						    	<td>{{GetDateFormat(transaction.time)}}</td>
						    </tr>
						</table>
					</div>
				</div>
			</div>
			<div id="noTrans">
				<h1>No Transactions</h1>
			</div>
		</div>
	</div>
</body>
</html>