<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="../../lib/angular.min.js"></script>
<script src="../../lib/jquery-3.2.1.js"></script>
<link rel="stylesheet"
	href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/AdminUsers.css" />
<script src="../javascript/AdminUsersController.js"></script>
<script src="../../helperService.js"></script>
<title>Admin - Users Page</title>
</head>
<body ng-app="app" ng-controller="adminUsersController">
	<ul>
		<b>
			<li><a href="AdminHomePage.html">Home</a></li>
			<li><a href="AdminUsers.html">Users</a></li>
			<li><a href="AdminTransactions.html">Transactions</a></li>
			<li><a href="AdminReviews.html">Reviews</a></li>
			<li><a href="AdminMessages.html">Messages ({{unread}})</a></li>
			<li style="padding-left: 11%">
				<img style="width:150px; height:50px;" alt="logo" src="../../Images/Logo.jpg">
			</li>
			<li style="float:right"><a class="active" href="../../Login.html">Sign Out</a></li>
		</b>
	</ul>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<h2 id="UsersHeader">Users</h2>
			</div>
			<div class="col-sm-4" style="cursor: pointer;" ng-click="viewUser(user)" ng-repeat="user in users">
			<div class="usersBox">
				<div class="row">
					<div class="col-sm-3">
						<img class="ProfilePic" ng-src="{{user.photo}}" />
					</div>
					<div class="col-sm-9">
						<p class="BookData">
							<u><b>Username:</b></u> {{user.username}}
						</p>
						<p class="BookData">
							<u><b>Nickname:</b></u> {{user.nickname}}
						</p>
						<p class="BookData">
							<u><b>Books Purchased:</b></u> {{user.books.length}}
						</p>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</body>
</html>