<!DOCTYPE html>
<html>
	<head>
<script src="../../lib/angular.min.js"></script>
<script src="../../lib/jquery-3.2.1.js"></script>
<link rel="stylesheet"
	href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/AdminBookView.css" />
<link rel="stylesheet" href="../css/AdminGlobalDesign.css" />
<script src="../javascript/AdminBookViewController.js"></script>
<script src="../../helperService.js"></script>
<title>Admin - Book View</title>
	</head>
	<body ng-app="app" ng-controller="adminBookViewController">
	<ul>
		<b>
			<li><a href="AdminHomePage.html">Home</a></li>
			<li><a href="AdminUsers.html">Users</a></li>
			<li><a href="AdminTransactions.html">Transactions</a></li>
			<li><a href="AdminReviews.html">Reviews</a></li>
			<li><a id="TabMessages" href="AdminMessages.html">Messages</a></li>
			<li style="padding-left: 11%">
				<img style="width:150px; height:50px;" alt="logo" src="../../Images/Logo.jpg">
			</li>
			<li style="float:right"><a class="active" ng-click="SignOutFunc()" href="../../Login.html">Sign Out</a></li>
		</b>
	</ul>
	<div class="container">
		<div class="container-fluid">
			<div class="col-sm-12">
          		<div class="container">
                  	<div class="row">
                  		<h1 class = "booktitle">{{ bookname }}</h1>
                  	</div>
                </div>
            </div>
            <div class="col-sm-12">
          		<div class="container">
                  	<div class="row">
                  		<p class="bookauthor">By {{ bookauthor }}</p>
                  	</div>
                </div>
            </div>
            <div class="col-sm-3">
          		<div class="container">
                  	<div class="row">
                  		<div>
                  		</div>
                  	</div>
                </div>
            </div>
            <div class="col-sm-9">
                  	<div class="row">
                  		<div class="col-sm-4">
                  			<div class="bookcoverpad">
								<img class="BookCovers" ng-src="{{bookcover}}" />
								<div id="tooltip">
									<b> 
										<p class="BookData">{{likesNum}} Likes</p>
 						 				<span ng-if="likesNum != 0" class="tooltiptext">{{GetLikes(Likes)}}</span>
									</b>
								</div>
							</div>
						</div>
						<div class="col-sm-8">
                  			<div class="bookdecription">
                  			    <p><b><u>Price:</u></b> ${{bookprice}}</p>
								<p><b><u>Short Description:</u></b><br> {{bookdesc}}</p>
							</div>
						</div>
                  	</div>
            </div>
            <div class="col-sm-12">
            	<div class="row">
                  	<h3 style="text-align: center;"><b>Reviews</b></h3>
                  	<hr>
               	</div>
            </div>
            <div class="col-sm-6 col-sm-offset-3" ng-repeat="comment in bookcomments | limitTo:quantity">
            	<div class="commentbox">
                  	<div class="row">
                  		<div class="col-sm-2">
                  		  	<img class="ProfilePic" ng-src="{{comment.photo}}">
                  		</div>
                  		<div class="col-sm-5">
                  	  		<p id="commentusername">{{comment.username}}</p>
               			</div>
               			<div class="col-sm-5">
               		  		<p id="commenttime">{{GetDateFormat(comment.time)}}</p>
               			</div>
                  		<div class="col-sm-8">
                  		</div>
                  		<div class="col-sm-6">
                  			<div class="commenttextinc">
                  				<p id="commenttext">{{comment.description}}</p>
                  			</div>
               			</div>
              		</div>
            	</div>
            </div>
            <div class="commentbox2" id="append">
            	
            </div>
		</div>
	</div>
</body>
</html>