<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="../../lib/angular.min.js"></script>
<script src="../../lib/jquery-3.2.1.js"></script>
<link rel="stylesheet"
	href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/AdminMessages.css" />
<link rel="stylesheet" href="../css/AdminGlobalDesign.css" />
<script src="../javascript/AdminMessagesController.js"></script>
<script src="../../helperService.js"></script>
<title>Admin - Messages Page</title>
</head>
<body ng-app="app" ng-controller="adminMessagesController">
	<ul>
		<b>
			<li><a href="AdminHomePage.html">Home</a></li>
			<li><a href="AdminUsers.html">Users</a></li>
			<li><a href="AdminTransactions.html">Transactions</a></li>
			<li><a href="AdminReviews.html">Reviews</a></li>
			<li><a id="TabMessages" href="AdminMessages.html">Messages</a></li>
			<li style="padding-left: 11%">
				<img style="width:150px; height:50px;" alt="logo" src="../../Images/Logo.jpg">
			</li>
			<li style="float:right"><a class="active" ng-click="SignOutFunc()" href="../../Login.html">Sign Out</a></li>
		</b>
	</ul>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<h2 id="UsersHeader">Messages</h2>
			</div>
			<div class="col-sm-12">
				
			</div>
			<div class="row">
				<div class="tab">
				  <button class="tablinks" ng-click="openTab($event, 'NewMessages')" id="defaultOpen"><b id="NewMessagesTab">New Messages</b></button>
				  <button class="tablinks" ng-click="openTab($event, 'OldMessages')"><b>Old Messages</b></button>
				</div>
				
				<div id="NewMessages" class="tabcontent">
					<button ng-click="MessageClick(newMessage)" id="mesgBtn" class="accordion" ng-repeat="newMessage in UnrepliedMessages">
					<div class="col-sm-4">
						<b>{{newMessage.username}}</b><br/><small><b>Subject:</b> {{newMessage.subject}}<br/><b>Received at: </b>{{GetDateFormat(newMessage.receiptdate)}}</small>
					</div>
					<div class="col-sm-4">
					</div>
					<div class="col-sm-4">
						<div id="Circle{{newMessage.id}}" class="{{CheckCircle(newMessage,circle)}}"></div>
					</div>
					</button>
				</div>
				
				<div id="OldMessages" class="tabcontent">
					<button ng-click="MessageClick(msg)" id="mesgBtn" class="accordion" ng-repeat="msg in Repliedmessages">
					<div class="col-sm-4">
						<b>{{msg.username}}</b><br/><small><b>Subject:</b> {{msg.subject}}<br/><b>Received at: </b>{{GetDateFormat(msg.receiptdate)}}</small>
					</div>
					<div class="col-sm-4">
					</div>
					<div class="col-sm-4">
						<div class="{{CheckCircle(msg,circle)}}"></div>
					</div>
					</button>
				</div>
			</div>
			<div id="MessageModal" class="modal">									
				<!-- Modal content -->
				<div class="modal-content">
					<span class="close" ng-click="Close()">&times;</span>
					<div class="modal-title">
						<div class="col-md-12">
							<div class="row">
							<div class="col-sm-6">
								<b><p id="SentFrom" class="MessageContent">Message from {{username}}</p></b>
							</div>
							<div class="col-sm-6">
								<b><p> Received at <u>{{GetDateFormat(receiptdate)}}</u></p></b>
							</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="col-sm-12">
							<div class="row">
								<p class="MessageContent"><b>Subject:</b> {{subject}}
								</p>
								<p class="MessageContent"><b>Message:</b> {{message}}
								</p>
							</div>
							<div class="row">
								<p class="MessageContent"><b>Admin reply:</b></p>
								<p id="AdminReply" class="MessageContent">{{reply}}</p>
								<textarea id="TextAreaHelp"></textarea>
							</div>
							<div class="row">
								<div class="col-sm-7">
									<p id="SendSuccess">Your message has been sent!</p>
									<p id="SendError">Please write a message!</p>				
								</div>
								<div class="col-sm-5">
									<button id="Submit" type="button" data-dismiss="modal" ng-click="Send()" class="btn btn-primary ModalButton">Send</button>
   									<button id="Close" type="button" data-dismiss="modal" ng-click="Close()" class="btn ModalButton">Close</button>
								</div>
							</div>					
						</div>		
					</div>								    
				</div>
			</div>
		</div>
	</div>
</body>
</html>