<!DOCTYPE html>
<html>
<head>
<script src="../../lib/angular.min.js"></script>
<script src="../../lib/jquery-3.2.1.js"></script>
<link rel="stylesheet"
	href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/AdminEbooks.css" />
<script src="../javascript/AdminEbooksController.js"></script>
<script src="../../helperService.js"></script>
<title>Admin - Ebooks</title>
</head>
<body ng-app="app" ng-controller="adminEbooksController">
	<ul>
		<b>
			<li><a href="AdminHomePage.html">Home</a></li>
			<li><a href="AdminUsers.html">Users</a></li>
			<li><a href="AdminTransactions.html">Transactions</a></li>
			<li><a href="AdminReviews.html">Reviews</a></li>
			<li><a href="AdminMessages.html">Messages ({{unread}})</a></li>
			<li style="padding-left: 11%">
				<img style="width:150px; height:50px;" alt="logo" src="../../Images/Logo.jpg">
			</li>
			<li style="float:right"><a class="active" ng-click="SignOutFunc()" href="../../Login.html">Sign Out</a></li>
		</b>
	</ul>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<h2 id="Header">
					Ebooks
				</h2>
			</div>
			<div class="grid-container">
			<div ng-repeat="book in books">
				<div class="row">
					<div class="col-sm-6">
						<a href="" ng-click="viewBook(book)"> 
							<img class="BookCovers" ng-src="{{book.Photo}}" />
						</a>
					</div>
					<div class="col-sm-6">
						<p class="BookData">
							<u><b>Title:</b></u> {{book.Name}}
						</p>
						<p class="BookData">
							<u><b>Author:</b></u> {{book.Author}}
						</p>
						<p class="BookData">
							<u><b>Price:</b></u> ${{book.Price}}
						</p>
						<div id="tooltip" class="col-sm-8">
							<b> 
								<p class="BookData">{{book.LikesNum}} Likes</p>
 						 		<span id="Likes{{book.Name}}" class="tooltiptext">
									<p ng-repeat="like in book.Likes">
										<a href="#" ng-click="viewUser(like.username)">
											{{like.username}}
										</a>
									</p>
								</span>
							</b>
						</div>
						<div class="col-sm-4">
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</body>
</html>