<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="../../lib/angular.min.js"></script>
<script src="../../lib/jquery-3.2.1.js"></script>
<link rel="stylesheet"
	href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/AdminReviews.css" />
<link rel="stylesheet" href="../css/AdminGlobalDesign.css" />
<script src="../javascript/AdminReviewsController.js"></script>
<script src="../../helperService.js"></script>
<title>Admin - Reviews Page</title>
</head>
<body ng-app="app" ng-controller="adminReviewsController">
	<ul>
		<li><a href="AdminHomePage.html"><b>Home</b></a></li>
		<li><a href="AdminUsers.html"><b>Users</b></a></li>
		<li><a href="AdminTransactions.html"><b>Transactions</b></a></li>
		<li><a href="AdminReviews.html"><b>Reviews</b></a></li>
		<li><a id="TabMessages" href="AdminMessages.html"><b>Messages</b></a></li>
		<li id="navbar_logo">
			<img style="width:150px; height:50px;" alt="logo" src="../../Images/Logo.jpg">
		</li>
		<li id="SignOut_button"><a class="active" ng-click="SignOutFunc()" href="../../Login.html"><b>Sign Out</b></a></li>
	</ul>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<h2 id="UsersHeader">Unapproved Reviews</h2>
				<div id="AccordionSection" class="col-sm-12">
					<div class="panel-group" id="accordion">
						<div class="panel panel-default container-fluid" ng-repeat="comment in comments">
							<div class="panel-heading row" ng-click="UpdateComment(comment)" style="cursor: pointer;">
								<div class="col-sm-1">
									<img data-toggle="collapse" alt="profile pic collapse" data-parent="#accordion" href="{{'#collapse' + $index}}" aria-expanded="false" aria-controls="{{'collapse' + $index}}" class="ProfilePic" ng-src="{{comment.photo}}" />
								</div>
								<div class="col-sm-11">
         							<p data-toggle="collapse" data-parent="#accordion" href="{{'#collapse' + $index}}" aria-expanded="false" aria-controls="{{'collapse' + $index}}">
         								<b>{{comment.username}}</b><br/><small>{{comment.bookName}}<br/>{{GetTimeFormat(comment.time)}}</small>
         							</p>
								</div>
      						</div>
      						<div id="{{'collapse' + $index}}" class="panel-collapse collapse">
        						<div class="panel-body">
        						{{comment.description}}<br/>
        						<button id="approve" type="button" class="btn btn-success btn-sm approve" ng-click="GiveAnswer('Accept')" >Approve</button>
        						<button id="decline" type="button" class="btn btn-danger btn-sm decline" ng-click="GiveAnswer('Decline')">Decline</button>
        						</div>
      						</div>
						</div>
					</div>
				</div>
			</div>
			<div id="noReviews">
				<h1>No Reviews</h1>
			</div>
			    <!-- The Modal -->
				<div id="myModal" class="modal">									
					<!-- Modal content -->
					<div class="modal-content">
						<span class="close" ng-click="MyModalFunc()">&times;</span>
						<div class="modal-title">
							<p><b>Are you sure you wish to {{answer}} this comment?</b></p>
						</div>
						<div class="modal-footer">
 							<button type="button" data-dismiss="modal" ng-click="FinalAnswer('Yes')" class="btn btn-primary" id="Yes">Yes</button>
   							<button type="button" data-dismiss="modal" ng-click="FinalAnswer('No')" class="btn" id="No">No</button>
						</div>								    
					</div>
				</div>
		</div>
	</div>
</body>
</html>