@charset "ISO-8859-1";
.booktitle{
	text-align: center;
	padding-right: 7%;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}

.bookauthor{
	text-align: center;
	font-weight: bold;
	padding-right: 7%;
	font-size: 140%;
}

#logo{
	width:	150px; 
	height:	50px;
}

.BookCovers{
	height: 300px;
	width: 210px;
	margin: 10px;
    border-radius: 5%;
}

.bookcoverpad{
	padding-right: 7%;
}

.bookdecription{
	padding-top: 3%;
	font-size: 120%;
}

.ProfilePic{
	max-height: 50px;
	max-width: 50px;
	height: 50px;
	width: 50px;
    border-radius: 50%;
    margin-top: 40%;
    margin-bottom: 50%;
}

#commentusername{
	font-weight: bold;
	padding-top: 7%;
}

#collapseReviewBtn{
	margin-bottom: 2%;
}

#commenttime{
	font-weight: bold;
	padding-top: 7%;
	padding-left: 10%;
}

#commenttext{
	float: left;
	padding-top: 1%;
}

.commentbox{
	margin-top: 5%;
	padding-left: 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.1);
	border-color: #000;
	border-radius: 25px;
}

.reviewField p[class="infoMsg"]
{
	color: green;	
}

input[type="submit"]
{
	border: none;
	margin-top: 20%;
	outline: none;
	color: #fff;
	font-size: 16px;
	background: #03A9F4;
	cursor: pointer;
	border-radius: 20px;
}

#tooltip {
    display: inline-block;
    margin-left: 5%;
}