@charset "ISO-8859-1";
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2px;
  padding: 2px;
}

.grid-container > div {
	background: rgba(0,0,0,.1);
	border-radius: 25px;
}

#Header{
	font-size: 200%;
	font-weight: bold;
	text-align: center;
}

.BookCovers{
	max-height: 220px;
	max-width: 100%;
	margin: 10px;
}

.BookData{
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.PurchasedButton{
	text-align: center;
	font-weight: bold;
	background-color: #03A9F4;
	border-radius: 20px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: default;
    display: none;
}

.PurchaseButton{
	text-align: center;
	font-weight: bold;
	background-color: #03A9F4;
	border-radius: 20px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
}

#tooltip {
    display: inline-block;
    margin-left: -10%;
}
}