@charset "ISO-8859-1";
h3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 2px;
  padding: 2px;
}

.grid-container > div {
	background: rgba(0,0,0,.1);
	border-radius: 25px;
}

.mostLiked{
	margin-top: 12%;
	margin-left: 5%;
}

#welcomename{
	color: #000;
	font-weight: bold;
	padding-top: 1%;
	font-size: 125%;
}

#likedbookslabel{
	color: #000;
	font-weight: bold;
	padding-top: 1%;
	font-size: 150%;
	font-style: italic;
}

.bookCoversLanding{
	width: 100px;
	height: 150px;
	margin: 10px;
}

.likedbooks{
	padding-left: 30px;
}

#ViewAllButton{
	float: right;
    display: inline-block;
 	font-weight: bold;
}