@charset "ISO-8859-1";
body
{
	margin: 0;
	padding: 0;
	background: url(../../Images/Background.jpg);
	background-size: cover;
	font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #A9A9A9;
}

.Center{
	margin-top: 10%;
	margin: 0% 10% 0% 0%;	
}

.SpaceFromTop{
	padding-top: 3%;
}

.ProfilePic{
	max-height: 50px;
	max-width: 50px;
	height: 50px;
	width: 50px;
    border-radius: 50%;
}

.LikeButton{
	max-height: 35px;
	max-width: 35px;
	height: 35px;
	width: 35px;
}

.Drop{
	padding-left: 10%;
}

.YourBooks{
	font-size: 200%;
	font-family:  "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;		
}

.BookCovers{
	height: 240px;
	width: 160px;
}

.BackgroundBox
{
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	background: rgba(192,192,192,0.3);
}

#LikedNum{
	padding-top: 6%;	
}

.BookData{
	padding-left: 15%;
}

.BookData2{
	margin-top: 20%;
}

.ProfileData{
    text-align: center;
    font-size: large;
	font-family:  "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.modal {
    display: none; /* Hidden by default */
    width: 40%; 
    height: 50%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0);
	position: absolute;
	margin-top: 18%;
	margin-left: 28%;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #AAAAAA;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myBtn{
	text-align: center;
	font-weight: bold;
	background-color: #03A9F4;
	border-radius: 20px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
}

#tooltip {
    display: inline-block;
}

#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60%;
    opacity: 0;
    transition: opacity 0.3s;
}

#tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
