@charset "ISO-8859-1";
.bookauthor
{
	margin-bottom:40px;
	margin-right: 7%;
}
.BookCover
{
	width:300px;
	height:430px;
	float: right;
	border-radius: 5%;
}
.PurchaseBox
{
	padding-bottom: 50px;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.1);
}
.PurchaseBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #03A9F4;
	cursor: pointer;
	border-radius: 20px;
	width: 100%;
}

h1{
	text-align: center;
	margin-top: 40px;
	margin-right: 7%;
}

.bookauthor{
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}

#invalid{
	color: #800000;
	margin-top: 10px;
	margin-left: 10px;
}

#submitButton{
	float: right;
}

#signupline{
	margin-top: 10px;
	margin-left: 10px;
}

.DropDownList select {
   font-size: 17px;
}

.purchaseDetailsBox span[class="errorMsg"]
{
	color: maroon;	
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}