body
{
	margin: 0;
	padding: 0;
	background: url(../../Images/Background.jpg);
	background-size: cover;
	font-family: sans-serif;
}
.signUpBox
{
	padding: 20px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.2);
	margin-bottom: 5%;
}
.signUpBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #03A9F4;
	cursor: pointer;
	border-radius: 20px;
	margin-top: 10px;
	width: 40%;
}


.signUpBox p[class="errorMsg"]
{
	color: maroon;	
}

.signUpBox span[class="errorMsg"]
{
	color: maroon;	
}


h1{
	text-align: center;
	margin: 40px;
}

p[type="error"]
{
	color: #800000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #A9A9A9;
}

.modal {
    display: none; /* Hidden by default */
    width: 40%; 
    height: 50%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0);
	position: absolute;
	margin-top: 18%;
	margin-left: 28%;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #AAAAAA;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
