@charset "ISO-8859-1";
body
{
	margin: 0;
	padding: 0;
	background-color: url(bg.jpg);
	background-size: cover;
	font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #A9A9A9;
}

.BookCovers{
	height: 260px;
	width: 180px;
	margin: 10px;
}

.BookData{
	margin: 10px;
}

#PurchasedButton{
	text-align: center;
	font-weight: bold;
	background-color: #03A9F4;
	border-radius: 20px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: default;
    width: 110%;
}

#PurchaseButton{
	text-align: center;
	font-weight: bold;
	background-color: #03A9F4;
	border-radius: 20px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
}