body
{
	margin: 0;
	padding: 0;
	background: url(SignUp.jpg);
	background-size: cover;
	font-family: sans-serif;
}
.loginBox
{
	padding: 20px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.2);
}
.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #03A9F4;
	cursor: pointer;
	border-radius: 20px;
	margin-top: 10px;
	width: 40%;
}
h1{
	text-align: center;
	margin: 40px;
}
