<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="mainCss.css"/>
	</head>
	<body>
  		<div class="loginBox" ng-app="app" ng-controller="loginController">
  			<h2>Log In</h2>
  			<form>
				<p>Email</p>
				<input type="text" name="" placeholder="Email" ng-model="email" required>
				<p>Password</p>
				<input type="password" name="" placeholder="••••••" ng-model="password" required>
				<input type="submit" name="" value="Sign In" ng-click="signIn()">
				<p style="text-align: center;">New Here? Sign Up</p>
			</form>
  		</div>
	</body>
</html>