@charset "ISO-8859-1";
body
{
	margin: 0;
	padding: 0;
	background: url(bg.jpg);
	background-size: cover;
	font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #A9A9A9;
}

.Center{
	margin-top: 10%;
	margin: 0% 10% 0% 0%;	
}

.SpaceFromTop{
	padding-top: 3%;
}

.ProfilePic{
	max-height: 50px;
	max-width: 50px;
	height: 50px;
	width: 50px;
    border-radius: 50%;
}

.LikeButton{
	max-height: 35px;
	max-width: 35px;
	height: 35px;
	width: 35px;
}

.Drop{
	padding-left: 10%;
}

.YourBooks{
	font-size: 200%;
	font-family:  "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;		
}

.BookCovers{
	height: 240px;
	width: 160px;
}

.BackgroundBox
{
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	background: rgba(192,192,192,0.3);
}

#LikedNum{
	padding-top: 6%;	
}

.BookData{
	padding-left: 15%;
}

.ProfileData{
    text-align: center;
    font-size: large;
	font-family:  "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}