<!DOCTYPE html>
<html>
	<head>
		<script src="lib/angular.min.js" ></script>
		<script src="lib/jquery-3.2.1.js"></script>
		<link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="MyAccount.css"/>
		<script src="js/MyAccountController.js"></script>
  		<script src="js/helperService.js"></script>
	</head>
	<body ng-app="app" ng-controller="myAccountController">
		<ul class="Toolbar">
			<b>
				<li><a href="./LandingPage.html">Home</a></li>
				<li><a href="./Ebooks.html">eBooks</a></li>
				<li><a href="./MyAccount.html">My Account</a></li>
				<li><a href="">Contact Us</a></li>
				<li style="padding-left: 15%">
					<img style="width:150px; height:50px;" alt="logo" src="./B.jpg">
				</li>
				<li style="float:right"><a class="active" href="./Login.html">Sign Out</a></li>
			</b>
		</ul>
		<div class="container">
    		<div class="container-fluid">
  				<div class="row">
  					<div class="col-md-12">
  						<div class="container">
							<div class="row">
								<div class="SpaceFromTop">
									<p class="ProfileData Center">
										<img class="ProfilePic" ng-src="{{user.photo}}">
									</p>
									<p class="ProfileData Center">{{user.username}}</p>
									<p class="ProfileData Center">{{user.nickname}}</p>
									<p class="ProfileData Center">{{user.email}}</p>
									<u><b><p class="YourBooks">Your books:</p></b></u>
									<div class="row">
  										<div class="col-sm-4" ng-repeat="book in books">
											<div class="row">
												<div class="col-sm-5">
													<a>
														<img class="BookCovers" ng-src="{{book.Photo}}"/>
													</a>
												</div>
												<div class="col-sm-7">
													<p class="BookData"><u><b>Title:</b></u> {{book.Name}}</p>
													<p class="BookData"><u><b>Author:</b></u> {{book.Author}}</p>
													<p class="BookData"><b>
														<a id="LikeNum{{book.Name}}" data-toggle="tooltip" data-placement="bottom" ng-attr-title="{{GetLikes(book.Likes)}}">
															*Liked by {{book.LikesNum}}
														</a>
													</b></p>
													<p class="BookData"><b>
														<a href="{{BookURL(book)}}">
															Read book
														</a>
													</b></p>
													<p class="BookData Drop">
													<a href="#">
														<img id="{{book.Name}}" class="LikeButton" ng-click="LikeBook(book)" ng-src="{{LikeLogo(book.Name)}}"/>
													</a>
													</p>
												</div>
											</div>
					  					</div>
					  				</div>
								</div>	
							</div>
	  					</div>
  					</div>
            	</div>			
			</div>
  		</div>
	</body>
</html>