<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="lib/angular.min.js"></script>
<script src="lib/jquery-3.2.1.js"></script>
<link rel="stylesheet"
	href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="Purchase.css" />
<script src="js/PurchaseController.js"></script>
<script src="js/helperService.js"></script>
</head>
<body ng-app="app" ng-controller="purchaseController">
	<ul>
		<b>
			<li><a href="./LandingPage.html">Home</a></li>
			<li><a href="./Ebooks.html">eBooks</a></li>
			<li><a href="./MyAccount.html">My Account</a></li>
			<li><a href="">Contact Us</a></li>
			<li style="padding-left: 15%"><img
				style="width: 150px; height: 50px;" alt="logo" src="./B.jpg">
		</li>
			<li style="float: right"><a class="active" href="./Login.html">Sign
					Out</a></li>
		</b>
	</ul>
	<div class="container">
		<div class="container-fluid">
			<div class="col-sm-12">
          		<div class="container">
                  	<div class="row">
                  		<h1 class = "booktitle">{{ book.Name }}</h1>
                  		<p class="bookauthor">By {{ book.Author }}</p>
                  	</div>
                </div>
            </div>
            <div class="col-sm-12">
          		<div class="container">
                  	<div class="row">
                  	</div>
                </div>
            </div>
			<div class="row">
				<div class="col-sm-1">
				</div>
				<div class="col-sm-10">
					<div class="col-sm-5">
						<img class="BookCover" ng-src="{{book.Photo}}" />
					</div>
					<div class="col-sm-7">
						<div class="signUpBox">
  							<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
  							<fieldset class="exp">
						        <label class="PageData" for="exp">Credit Card Type: </label>
						        <select class="Visas" id="exp">
						          <option>Visa</option>
						          <option>Mastercard</option>
						          <option>American Express</option>
						          <option>IsraCard</option>
						          <option>Discover</option>
						       	  <option>AMEX</option>
						        </select>
						     </fieldset>
						     <fieldset class="name">
     						   <label class="PageData" for="name">Cardholder Name: </label>
  							   <input id="cardHolderName" name="cardHolderName" type="text" autofocus="" ng-model="cardHolderName" required/>
  							   	<span class="errorMsg" ng-show="userForm.cardHolderName.$dirty && userForm.cardHolderName.$error.required">*This field is required!</span>
						     </fieldset>
						     <fieldset class="number">
       						 <label class="PageData" for="number">Card Number: </label>
						        <input id="number" pattern="^[0-9]*$" type="num" name="CC1" maxlength="4"  autofocus="" ng-model="CC1" required/>
						        <input type="num" pattern="^[0-9]*$" name="CC2" minlength="4" maxlength="4" autofocus="" ng-model="CC2" required/>
						        <input type="num" pattern="^[0-9]*$" name="CC3" minlength="4" maxlength="4" autofocus="" ng-model="CC3" required/>
						        <input type="num" pattern="^[0-9]*$" name="CC4" minlength="4" maxlength="4" autofocus="" ng-model="CC4" required/>
  							   	<span class="errorMsg" ng-show="(userForm.CC1.$dirty && userForm.CC1.$error.required) ||
  							   	(userForm.CC2.$dirty && userForm.CC2.$error.required) ||
  							   	(userForm.CC3.$dirty && userForm.CC3.$error.required) ||
  							   	(userForm.CC4.$dirty && userForm.CC4.$error.required)">*This field is required!</span>
  							   	<span class="errorMsg" ng-show="(userForm.CC1.$invalid && userForm.CC1.$pristine) ||
  							   	(userForm.CC2.$invalid && userForm.CC2.$pristine) ||
  							   	(userForm.CC3.$invalid && userForm.CC3.$pristine) ||
  							   	(userForm.CC4.$invalid && userForm.CC4.$pristine)">*Invalid input!</span>
						      </fieldset>
  							<fieldset class="exp">
						        <label class="PageData" for="exp">Expiration: </label>
						        <select class="Expiry" id="exp">
						          <option>Jan</option>
						          <option>Feb</option>
						          <option>Mar</option>
						          <option>Apr</option>
						          <option>May</option>
						          <option>Jun</option>
						          <option>Jul</option>
						          <option>Aug</option>
						          <option>Sep</option>
						          <option>Oct</option>
						          <option>Nov</option>
						          <option>Dec</option>
						        </select>
						        <select class="Expiry">
						          <option>2018</option>
						          <option>2019</option>
						          <option>2020</option>
						          <option>2021</option>
						          <option>2022</option>
						          <option>2023</option>
						          <option>2024</option>
						          <option>2025</option>
						          <option>2026</option>
						          <option>2027</option>
						          <option>2028</option>
						 		  <option>2029</option>
					 			  <option>2030</option>
						        </select>
						      </fieldset>
						      <fieldset class="number">
						        <label class="PageData" for="number">CCV: </label>
						        <input id="number" name="cvvField" type="num" maxlength="3" autofocus="" ng-model="cvvField" required/>
  							   	<span class="errorMsg" ng-show="userForm.cvvField.$dirty && userForm.cvvField.$error.required">*This field is required!</span>
						      </fieldset>
						      <div class="btnLeft">Total Price: ${{book.Price}}</div>
    						  <button class="btnRight" ng-click="confirmAndBuy(userForm.$valid)" >Confirm And Pay</button>
							</form>
  						<div>
					</div>
				</div>
				<div class="col-sm-1">
				</div>
			</div>
		</div>
	</div>
</body>
</html>