<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="lib/angular.min.js"></script>
<script src="lib/jquery-3.2.1.js"></script>
<link rel="stylesheet"
	href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="Purchase.css" />
<script src="js/PurchaseController.js"></script>
<script src="js/helperService.js"></script>
</head>
<body ng-app="app" ng-controller="purchaseController">
	<ul>
		<b>
			<li><a href="./LandingPage.html">Home</a></li>
			<li><a href="./Ebooks.html">eBooks</a></li>
			<li><a href="./MyAccount.html">My Account</a></li>
			<li><a href="">Contact Us</a></li>
			<li style="padding-left: 15%"><img
				style="width: 150px; height: 50px;" alt="logo" src="./B.jpg">
		</li>
			<li style="float: right"><a class="active" href="./Login.html">Sign
					Out</a></li>
		</b>
	</ul>
	<div class="container">
		<div class="container-fluid">
			<div class="col-sm-12">
          		<div class="container">
                  	<div class="row">
                  		<h1 class = "booktitle">{{ book.Name }}</h1>
                  		<p class="bookauthor">By {{ book.Author }}</p>
                  	</div>
                </div>
            </div>
            <div class="col-sm-12">
          		<div class="container">
                  	<div class="row">
						<div class="col-sm-5">
							<p><img class="BookCover" ng-src="{{book.Photo}}" /></p>
						</div>
                  		<div class="col-sm-5">
                  			<div class="PurchaseBox">
  								<div class="form-group" ng-class="{ 'has-error' : userForm.cardcomp.$invalid && !userForm.cardcomp.$pristine }">
                       				<p><b>Credit Card Type:</b></p>
									<select class="form-control">
        								<option>Visa</option>
        								<option>MasterCard</option>
        								<option>American Express</option>
        								<option>IsraCard</option>
        								<option>Discover</option>
      								</select>
  								</div>
  								<div class="form-group" ng-class="{ 'has-error' : userForm.holdname.$invalid && !userForm.holdname.$pristine }">
                       				<p><b>Cardholder Name:</b></p>
									<input class="form-control" placeholder="Cardholder Name" id="holdname" name="holdname" type="text" autofocus="" ng-model="holdname" required>
  								</div>
  								<p><b>Card Number:</b></p>
  								<div class="col-sm-3">
  									<div class="form-group" ng-class="{ 'has-error' : userForm.cardnum1.$invalid && !userForm.cardnum1.$pristine }">
										<input class="form-control" id="cardnum1" name="cardnum1" type="text" autofocus="" ng-model="cardnum1" required>
  									</div>
  								</div>
  								<div class="col-sm-3">
  									<div class="form-group" ng-class="{ 'has-error' : userForm.cardnum2.$invalid && !userForm.cardnum2.$pristine }">
										<input class="form-control" id="cardnum2" name="cardnum2" type="text" autofocus="" ng-model="cardnum2" required>
  									</div>
  								</div>
  								<div class="col-sm-3">
  									<div class="form-group" ng-class="{ 'has-error' : userForm.cardnum3.$invalid && !userForm.cardnum3.$pristine }">
										<input class="form-control" id="cardnum3" name="cardnum3" type="text" autofocus="" ng-model="cardnum3" required>
  									</div>
  								</div>
  								<div class="col-sm-3">
  									<div class="form-group" ng-class="{ 'has-error' : userForm.cardnum4.$invalid && !userForm.cardnum4.$pristine }">
										<input class="form-control" id="cardnum4" name="cardnum4" type="text" autofocus="" ng-model="cardnum4" required>
  									</div>
  								</div>
  								<p><b>Expiration:</b></p>
  								<div class="col-sm-6">
  									<div class="form-group" ng-class="{ 'has-error' : userForm.exp.$invalid && !userForm.exp.$pristine }">
										<select class="form-control">
        									<option>Jan</option>
						          			<option>Feb</option>
						          			<option>Mar</option>
						         			<option>Apr</option>
						       				<option>May</option>
						       				<option>Jun</option>
						       				<option>Jul</option>
					          				<option>Aug</option>
					          				<option>Sep</option>
					          				<option>Oct</option>
					          				<option>Nov</option>
					          				<option>Dec</option>
      									</select>
  									</div>
  								</div>
  								<div class="col-sm-6">
  									<div class="form-group" ng-class="{ 'has-error' : userForm.exp2.$invalid && !userForm.exp2.$pristine }">
										<select class="form-control">
        									<option>2018</option>
						          			<option>2019</option>
						          			<option>2020</option>
						          			<option>2021</option>
						          			<option>2022</option>
						          			<option>2023</option>
						          			<option>2024</option>
						          			<option>2025</option>
						          			<option>2026</option>
						          			<option>2027</option>
						          			<option>2028</option>
						 		  			<option>2029</option>
					 			  			<option>2030</option>
      									</select>
  									</div>
  								</div>
  								<p><b>CCV:</b></p>
  								<div class="col-sm-6">
  									<div class="form-group" ng-class="{ 'has-error' : userForm.ccv.$invalid && !userForm.ccv.$pristine }">
										<input class="form-control" placeholder="Cardholder Name" id="ccv" name="ccv" type="text" autofocus="" ng-model="ccv" required>
  									</div>
  								</div>
  								<div class="col-sm-6">
  									<div>
										<input type="submit" name="" ng-click="confirmAndBuy()">
									</div>
  								</div>
							</div>
                  		</div>
                  		<div class="col-sm-2">
                  		</div>
                  	</div>
                </div>
            </div>
    	</div>
	</div>
</body>
</html>