body
{
	margin: 0;
	padding: 0;
	background: url(bg2.jpg);
	background-size: cover;
	font-family: sans-serif;
}

.bookauthor
{
	margin-bottom:40px;
	margin-right: 7%;
}
.BookCover
{
	width:300px;
	height:430px;
	float: right;	
}
.PurchaseBox
{
	padding-bottom: 50px;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.1);
}
.PurchaseBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #03A9F4;
	cursor: pointer;
	border-radius: 20px;
	width: 100%;
}

h1{
	text-align: center;
	margin-top: 40px;
	margin-right: 7%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #A9A9A9;
}

.bookauthor{
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}

#invalid{
	color: #800000;
	margin-top: 10px;
	margin-left: 10px;
}

#submitButton{
	float: right;
}

#signupline{
	margin-top: 10px;
	margin-left: 10px;
}

#DropDownList select {
   font-size: 17px;
}

.purchaseDetailsBox span[class="errorMsg"]
{
	color: maroon;	
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}
