<!DOCTYPE html>
<html>
	<head>
		<script src="../../lib/angular.min.js"></script>
		<script src="../../lib/jquery-3.2.1.js"></script>
		<link rel="stylesheet" href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../css/BookView.css" />
		<link rel="stylesheet" href="../css/UserGeneralDesign.css" />
		<link rel="stylesheet" href="../css/Tooltip.css" />
		<script src="../javascript/BookViewController.js"></script>
		<script src="../../helperService.js"></script>
		<title>Book View</title>
	</head>
	<body ng-app="app" ng-controller="bookViewController">
	<ul>
		<li>
			<img id="logo" alt="logo" src="../../Images/Logo.jpg">
		</li>
		<li><a href="./LandingPage.html"><b>Home</b></a></li>
		<li><a href="./Ebooks.html"><b>eBooks</b></a></li>
		<li><a href="./MyAccount.html"><b>My Account</b></a></li>
		<li><button id="HelpMe" type="button" class="btn btn-primary btn-md" ng-click="HelpMeButton()">Help Me</button></li>
		<li style="float: right">
			<a class="active" ng-click="SignOutFunc()" href="../../Login.html"><b>Sign Out</b></a>
		</li>
	</ul>
	<div class="container">
		<div class="container-fluid">
			<div class="col-sm-12">
          		<div class="container">
                  	<div class="row">
                  		<h1 class = "booktitle">{{ bookname }}</h1>
                  	</div>
                </div>
            </div>
            <div class="col-sm-12">
          		<div class="container">
                  	<div class="row">
                  		<p class="bookauthor">By {{ bookauthor }}</p>
                  	</div>
                </div>
            </div>
            <div class="col-sm-3">
          		<div class="container">
                  	<div class="row">
                  		<div>
                  		</div>
                  	</div>
                </div>
            </div>
            <div class="col-sm-9">
                  	<div class="row">
                  		<div class="col-sm-4">
                  			<div class="bookcoverpad">
								<img class="BookCovers" alt="book cover" ng-src="{{bookcover}}" />
								<div id="tooltip">
									<p class="BookData"><b>{{likesNum}} Likes</b></p>
 						 			<span ng-if="likesNum != 0" class="tooltiptext">
										<p ng-repeat="like in Likes">
											<b>{{like.nickname}}</b>
										</p>
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-8">
                  			<div class="bookdecription">
                  				<p><b><u>Price:</u></b> ${{bookprice}}</p>
								<p><b><u>Short Description:</u></b><br> {{bookdesc}}</p>
								<div id="purchase">
									<p class="BookData">
										<a ng-click="PurchaseBook(book)">
											<button type="button" class="btn btn-info btn-md" id="PurchaseButton">Purchase</button>
										</a>
									</p>
								</div>
								<div id="read">
									<p class="BookData">
										<a ng-click="ReadBook(book)">
											<button type="button" class="btn btn-info btn-md" id="ReadButton">Read Book</button>
										</a>
									</p>
								</div>
							</div>
						</div>
                  	</div>
            </div>
            <div class="col-sm-12">
            	<div class="row">
                  	<h3 style="text-align: center;"><b>Reviews</b></h3>
                  	<hr>
               		<div id="reviewField" class="reviewField">
						<div class="col-sm-6 col-sm-offset-3">
              				<div class="row">
              					<div class="col-sm-11">
              						<form name="reviewForm" novalidate>
  										<fieldset>
  											<div class="form-group" ng-class="{ 'has-error' : reviewForm.review.$invalid && !reviewForm.review.$pristine }">
                   								<input class="form-control" placeholder="Write a review" id="review" name="review" type="text" autofocus="" ng-model="review">
												<p id="infoMsg" class="infoMsg">Your review was sent for approval!</p>
											</div>
										</fieldset>
									</form>
              					</div>
              					<div class="col-sm-1">
              						<button type="button" class="btn btn-info" ng-click="SubmitReview()">Send</button>
              					</div>
                  				
                  			</div>
            			</div>
					</div>
               	</div>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
           		<button id="collapseReviewBtn" type="button" class="btn btn-info" data-toggle="collapse" data-target="#reviewscollapse">See reviews</button>
            </div>
            <div id="reviewscollapse" class="collapse">
	            <div class="col-sm-6 col-sm-offset-3" ng-repeat="comment in bookcomments">
	            	<div class="commentbox">
	                  	<div class="row">
	                  		<div class="col-sm-2">
	                  		  	<img class="ProfilePic" alt="profile picture" ng-src="{{comment.photo}}">
	                  		</div>
	                  		<div class="col-sm-5">
	                  	  		<p id="commentusername">{{comment.username}}</p>
	               			</div>
	               			<div class="col-sm-5">
	               		  		<p id="commenttime">{{GetDateFormat(comment.time)}}</p>
	               			</div>
	                  		<div class="col-sm-8">
	                  		</div>
	                  		<div class="col-sm-6">
	                  			<div class="commenttextinc">
	                  				<p id="commenttext">{{comment.description}}</p>
	                  			</div>
	               			</div>
	              		</div>
	            	</div>
	            </div>
            </div>
            <!-- The Modal -->
			<div id="ContinueInBook" class="modal">									
				<!-- Modal content -->
				<div class="modal-content">
					<span class="close" ng-click="CloseContinueInBook()">&times;</span>
					<div class="modal-title">
						<p><b>Do you like to continue from where you last stopped?</b></p>
					</div>
					<div class="modal-footer">
							<button type="button" data-dismiss="modal" ng-click="OpenBook('True')" class="btn btn-info" id="Yes">Yes</button>
  							<button type="button" data-dismiss="modal" ng-click="OpenBook('False')" class="btn" id="No">No</button>
					</div>								    
				</div>
			</div>
   			<!-- The Modal -->
			<div id="HelpMeModal" class="modal">									
				<!-- Modal content -->
				<div class="modal-content">
					<span class="close" ng-click="CloseHelpMeModal()">&times;</span>
					<div class="modal-title">
						<p><b>Please feel free to contact us and we'll reply as soon as we can.</b></p>
					</div>
					<div class="modal-footer">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-2">
									<p class="SubjectHeader">Subject:</p>
								</div>
								<div class="col-sm-4">
									<div id="MessageSubject" class="form-group" ng-class="{ 'has-error' : purchaseForm.exp.$invalid && !purchaseForm.exp.$pristine }">
										<select id="ExpMonth" class="form-control">
	        								<option>General</option>
									    	<option>Account</option>
		        							<option>Financial</option>
		        							<option>Technical</option>
		       								<option>Complaint</option>
		        							<option>Other</option>
	      								</select>
	  								</div>
								</div>
								<div class="col-sm-6">
								</div>
							</div>
							<div class="row">
								<p class="Header">Message:</p>
								<textarea id="TextAreaHelp"></textarea>
							</div>
							<div class="row">
								<div class="col-sm-7">
									<p id="HelpMeSuccess">Your message has been sent!</p>
									<p id="HelpMeError">Please write a message!</p>				
								</div>
								<div class="col-sm-5">
									<button type="button" data-dismiss="modal" ng-click="Submit()" class="btn btn-info" id="Yes">Submit</button>
   									<button type="button" data-dismiss="modal" ng-click="CloseHelpMeModal()" class="btn" id="No">Close</button>
								</div>
							</div>					
						</div>		
					</div>								    
				</div>
			</div>	
		</div>
	</div>
</body>
</html>