<!DOCTYPE html>
<html>
<head>
		<script src="../../lib/angular.min.js"></script>
		<script src="../../lib/jquery-3.2.1.js"></script>
		<link rel="stylesheet" href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../css/Ebooks.css" />
		<script src="../javascript/EbooksController.js"></script>
		<script src="../../helperService.js"></script>
<title>Ebooks</title>
</head>
<body ng-app="app" ng-controller="ebooksController">
	<ul>
		<b>
			<li><a href="./LandingPage.html">Home</a></li>
			<li><a href="./Ebooks.html">eBooks</a></li>
			<li><a href="./MyAccount.html">My Account</a></li>
			<li><button id="HelpMe" type="button" class="btn btn-primary btn-md" ng-click="HelpMeButton()">Help Me</button></li>
			<li style="padding-left: 15%"><img href="./LandingPage.html">
				<img style="width:150px; height:50px;" alt="logo" src="../../Images/Logo.jpg">
			</li>
			<li style="float: right"><a class="active" href="../../Login.html">Sign
					Out</a></li>
		</b>
	</ul>
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<h2 id="Header">
					Ebooks
				</h2>
			</div>
			<div class="grid-container">
				<div ng-repeat="book in books">
					<div class="row">
						<div class="col-sm-6">
							<a href="" ng-click="viewBook(book)"> 
								<img class="BookCovers" ng-src="{{book.Photo}}" />
							</a>
						</div>
						<div class="col-sm-6">
							<p class="BookData">
								<u><b>Title:</b></u> {{book.Name}}
							</p>
							<p class="BookData">
								<u><b>Author:</b></u> {{book.Author}}
							</p>
							<p class="BookData">
								<u><b>Price:</b></u> ${{book.Price}}
							</p>
							<div id="tooltip" class="col-sm-8">
								<b> 
									<p class="BookData">{{book.LikesNum}} Likes</p>
 						 			<span class="tooltiptext">{{GetLikes(book.Likes)}}</span>
								</b>
							</div>
							<div class="col-sm-4">
							</div>
							<p class="BookData">
								<button id="{{book.Name}}PButton" class="PurchaseButton" ng-click="PurchaseBook(book)">{{PurchaseCheck(book)}}</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- The Modal -->
			<div id="HelpMeModal" class="modal">									
				<!-- Modal content -->
				<div class="modal-content">
					<span class="close" ng-click="MyModalFunc()">&times;</span>
					<div class="modal-title">
						<b><p>Please feel free to contact us and we'll reply as soon as we can.</p></b>
					</div>
					<div class="modal-footer">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-2">
									<p class="Header2">Subject:</p>
								</div>
								<div class="col-sm-4">
									<div id="MessageSubject" class="form-group" ng-class="{ 'has-error' : purchaseForm.exp.$invalid && !purchaseForm.exp.$pristine }">
										<select id="ExpMonth" class="form-control">
	        								<option>General</option>
									    	<option>Account</option>
		        							<option>Financial</option>
		        							<option>Technical</option>
		       								<option>Complaint</option>
		        							<option>Other</option>
	      								</select>
	  								</div>
								</div>
								<div class="col-sm-6">
								</div>
							</div>
							<div class="row">
								<p class="Header">Message:</p>
								<textarea id="TextAreaHelp"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-7">
								<p id="HelpMeSuccess">Your message has been sent!</p>
								<p id="HelpMeError">Please write a message!</p>				
								</div>
								<div class="col-sm-5">
									<button id="ModalButton" type="button" data-dismiss="modal" ng-click="Submit()" class="btn btn-primary" id="Yes">Submit</button>
   									<button id="ModalButton" type="button" data-dismiss="modal" ng-click="Cancel()" class="btn" id="No">Cancel</button>
								</div>
							</div>					
						</div>		
					</div>								    
				</div>
			</div>	
		</div>
	</div>
</body>
</html>