<!DOCTYPE html>
<html>
	<head>
		<script src="../../lib/angular.min.js"></script>
		<script src="../../lib/jquery-3.2.1.js"></script>
		<link rel="stylesheet" href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../css/LandingPage.css" />
		<script src="../javascript/LandingPageController.js"></script>
		<script src="../../helperService.js"></script>
		<title>Home Page</title>
	</head>
	<body  ng-app="app" ng-controller="homePageController">
		<ul>
			<b>
				<li><a href="./LandingPage.html">Home</a></li>
				<li><a href="./Ebooks.html">eBooks</a></li>
				<li><a href="./MyAccount.html">My Account</a></li>
				<li><button id="HelpMe" type="button" class="btn btn-primary btn-md" ng-click="HelpMeButton()">Help Me</button></li>
				<li style="padding-left: 15%">
					<img style="width:150px; height:50px;" alt="logo" src="../../Images/Logo.jpg">
				</li>
				<li style="float:right"><a class="active" href="../../Login.html">Sign Out</a></li>
			</b>
		</ul>
		<div class="container">
    		<div class="container-fluid">
  				<div class="row">
  					<div class="col-sm-12">
          				<div class="container">
                  			<div class="row">
								<p id="welcomename">Welcome back {{ welcomename }}.</p>
                  			</div>
                  		</div>
                  	</div>
                  	<div class="col-sm-12">
          				<div class="container">
                  			<div class="row">
								<p id="likedbookslabel">Here are our most liked books..</p>
                  			</div>
                  		</div>
                  	</div>
                  	<div class="col-sm-12">
          				<div class="container">
                  			<div class="row">
								<a class="viewall" href="./Ebooks.html">View all</a>
                  			</div>
                  		</div>
                  	</div>
                  	<div class="col-sm-2" ng-repeat="x in books">
                  		<div class="likedbooks">
                  			<a href="" ng-click="viewBook(x)">
                  				<img class="bookCoversLanding" ng-src="{{x.Photo}}"/>
                  			</a>
                  			<p class="booksdata"><b><u>Title:</u></b> {{x.Name}}</p>
			                <p class="booksdata"><b><u>Author:</u></b> {{x.Author}}</p>
			                <p class="booksdata"><b><u>Price:</u></b> ${{x.Price}}</p>
			           </div>
                  	</div>
            	</div>	
            	<!-- The Modal -->
				<div id="HelpMeModal" class="modal">									
					<!-- Modal content -->
					<div class="modal-content">
						<span class="close" ng-click="MyModalFunc()">&times;</span>
						<div class="modal-title">
							<b><p>Please feel free to contact us with and we'll reply as soon as we can.</p></b>
						</div>
						<div class="modal-footer">
							<div class="col-sm-12">
								<div class="row">
									<textarea id="TextAreaHelp"></textarea>
								</div>
								<div class="row">
									<div class="col-sm-7">
										<p id="HelpMeSuccess">Your message has been sent!</p>
										<p id="HelpMeError">Please write a message!</p>				
									</div>
									<div class="col-sm-5">
										<button id="ModalButton" type="button" data-dismiss="modal" ng-click="Submit()" class="btn btn-primary" id="Yes">Submit</button>
   										<button id="ModalButton" type="button" data-dismiss="modal" ng-click="Cancel()" class="btn" id="No">Cancel</button>
									</div>
								</div>					
							</div>		
						</div>								    
					</div>
				</div>		
			</div>
  		</div>
	</body>
</html>