<!DOCTYPE html>
<html>
	<head>
		<script src="../../lib/angular.min.js"></script>
		<script src="../../lib/jquery-3.2.1.js"></script>
		<link rel="stylesheet" href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../css/MyAccount.css" /> 
		<link rel="stylesheet" href="../css/UserGeneralDesign.css" />
		<link rel="stylesheet" href="../css/Tooltip.css" />
		<script src="../javascript/MyAccountController.js"></script>
		<script src="../../helperService.js"></script>
  		<title>Account</title>
	</head>
	<body ng-app="app" ng-controller="myAccountController">
		<ul class="Toolbar">
			<b>
				<li><a href="./LandingPage.html">Home</a></li>
				<li><a href="./Ebooks.html">eBooks</a></li>
				<li><a href="./MyAccount.html">My Account</a></li>
				<li><button id="HelpMe" type="button" class="btn btn-primary btn-md" ng-click="HelpMeButton()">Help Me</button></li>
				<li id="Logo">
					<img id="LogoPic" alt="logo" src="../../Images/Logo.jpg">
				</li>
				<li style="float:right"><a class="active" ng-click="SignOutFunc()" href="../../Login.html">Sign Out</a></li>
			</b>
		</ul>
		<div class="container">
    		<div class="container-fluid">
  				<div class="row">
  					<div class="col-md-12">
  						<div class="container">
							<div class="row">
								<div class="SpaceFromTop">
									<p class="ProfileData Center">
										<img class="ProfilePic" ng-src="{{user.photo}}">
									</p>
									<p class="ProfileData Center">{{user.username}}</p>
									<p class="ProfileData Center">{{user.nickname}}</p>
									<p class="ProfileData Center">{{user.email}}</p>
									<p class="ProfileData Center">
										<div id="main-div-msg" class="col-sm-12">
											<div class="col-sm-6" align="right">
												<p id="NewMessages"><strong>Messages: </strong></p>
											</div>
											<div id="msg-btns" class="col-sm-6"  align="left">
												<div class="btn-group">
    												<button type="button" class="btn btn-info" ng-click="SentModal()">Sent</button>
    												<button type="button" class="btn btn-info" ng-click="AnsweredModal()">Answered</button>
  												</div>	
											</div>
										</div>
									</p>
									<u><b><p class="YourBooks">Your books:</p></b></u>
										<div class="row">
										<div class="grid-container">
	  										<div ng-repeat="book in books">
													<div class="col-sm-5">
														<a id="img-click" ng-click="viewBook(book)">
															<img class="BookCovers" ng-src="{{book.Photo}}"/>
														</a>
														<div class="col-sm-3">
														<p class="BookData Drop">
															<a href="#">
																<img id="{{book.Name}}" class="LikeButton" ng-click="LikeBook(book)" ng-src="{{LikeLogo(book.Name)}}"/>
															</a>
														</p>
														</div>
														<div class="col-sm-9">
														<div id="tooltip">
															<b> 
																<p id="LikeNum{{book.Name}}" class="BookData2" ng-model="tooltipcheck">{{book.LikesNum}} Likes</p>
 						 										<span id="LikeNumTooltip{{book.Name}}" ng-if="book.LikesNum != 0" class="tooltiptext">{{GetLikes(book.Likes)}}</span>
															</b>
														</div>
														</div>
														
													</div>
													<div id="BookDataDiv" class="col-sm-7">
														<p class="BookData"><u><b>Title:</b></u> {{book.Name}}</p>
														<p class="BookData"><u><b>Author:</b></u> {{book.Author}}</p>
														<p class="BookData"><b>
															<button type="button" class="btn btn-info btn-xs" ng-click="MyButtonFunc(book)">Read Book</button>
														</b></p>
														
													</div>
						  					</div>
						  					</div>
						  				</div>
								</div>	
							</div>
	  					</div>
  					</div>
            	</div>
            	<!-- The Modal -->
				<div id="myModal" class="modal">									
					<!-- Modal content -->
					<div class="modal-content">
						<span class="close" ng-click="MyModalFunc()">&times;</span>
						<div class="modal-title">
							<b><p>Do you like to continue from where you last stopped?</p></b>
						</div>
						<div class="modal-footer">
 							<button type="button" data-dismiss="modal" ng-click="OpenBook('True')" class="btn btn-info" id="Yes">Yes</button>
   							<button type="button" data-dismiss="modal" ng-click="OpenBook('False')" class="btn" id="No">No</button>
						</div>								    
					</div>
				</div>
				<!-- The Modal -->
				<div id="HelpMeModal" class="modal">									
					<!-- Modal content -->
					<div class="modal-content">
						<span class="close" ng-click="HelpMeCloseButton()">&times;</span>
						<div class="modal-title">
							<b><p>Please feel free to contact us and we'll reply as soon as we can.</p></b>
						</div>
						<div class="modal-footer">
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-2">
									<p class="SubjectHeader">Subject:</p>
								</div>
								<div class="col-sm-4">
									<div id="MessageSubject" class="form-group" ng-class="{ 'has-error' : purchaseForm.exp.$invalid && !purchaseForm.exp.$pristine }">
										<select id="ExpMonth" class="form-control">
	        								<option>General</option>
									    	<option>Account</option>
		        							<option>Financial</option>
		        							<option>Technical</option>
		       								<option>Complaint</option>
		        							<option>Other</option>
	      								</select>
	  								</div>
								</div>
								<div class="col-sm-6">
								</div>
								</div>
								<div class="row">
									<p class="Header">Message:</p>
									<textarea id="TextAreaHelp"></textarea>
								</div>
								<div class="row">
									<div class="col-sm-7">
										<p id="HelpMeSuccess">Your message has been sent!</p>
										<p id="HelpMeError">Please write a message!</p>				
									</div>
									<div class="col-sm-5">
										<button id="ModalButton" type="button" data-dismiss="modal" ng-click="Submit()" class="btn btn-info" id="Yes">Submit</button>
   										<button id="ModalButton" type="button" data-dismiss="modal" ng-click="Cancel()" class="btn" id="No">Cancel</button>
									</div>
								</div>					
							</div>		
						</div>								    
					</div>
				</div>
				<!-- The Modal -->
				<div id="AnsweredModal" class="modal">									
					<!-- Modal content -->
					<div class="modal-content">
						<span class="close" ng-click="AnsweredModalCloseFunc()">&times;</span>
						<div class="modal-title">
							<b><p id="NewMessages">Answered Messages</p></b>
						</div>
						<div class="modal-footer">
			                <div class="col-sm-12">
								<div class="panel-group" id="accordion">
									<div class="panel panel-default container-fluid" ng-repeat="msg in RepliedMsgs">
										<div id="AccordMsg{{msg.userread}}" class="panel-heading row" ng-click="ReadMessage(msg)" style="cursor: pointer;">
											<div class="col-sm-12">
												<h4 class="panel-title">
			         								<p class="MessageAccordion" data-toggle="collapse" data-parent="#accordion" href="{{'#collapse' + $index}}" aria-expanded="false" aria-controls="{{'collapse' + $index}}">
			         								<b>{{msg.username}}</b><br/><small>Sent at {{GetTimeFormat(msg.receiptdate)}}</small>
			         								</p>
			        							</h4>
											</div>
			      						</div>
			      						<div id="{{'collapse' + $index}}" class="panel-collapse collapse">
			        						<div class="panel-body">
												<p id="msg-reply">
													<strong>Your message:</strong><br/>{{msg.message}}</p><hr>
												<p id="msg-reply"><strong>Reply:</strong><br/>{{msg.reply}}
												</p>
			        							<button id="delete" type="button" class="btn btn-success btn-sm delete" ng-click="DeleteMessage(msg)" >Delete Message</button>
			        						</div>
			      						</div>
									</div>
								</div>
							</div>
							<h1 id="no-msg">No Answered Messages</h1>
			            </div>				    
					</div>
				</div>
				<!-- The Modal -->
				<div id="SentModal" class="modal">									
					<!-- Modal content -->
					<div class="modal-content">
						<span class="close" ng-click="SentModalCloseFunc()">&times;</span>
						<div class="modal-title">
							<b><p id="NewMessages">Sent Messages</p></b>
						</div>
						<div class="modal-footer">
			                <div class="col-sm-12">
								<div class="panel-group" id="accordion">
									<div class="panel panel-default container-fluid" ng-repeat="msg in SentMsgs">
										<div id="SentAccordions" class="panel-heading row" ng-click="ReadMessage(msg)" style="cursor: pointer;">
											<div class="col-sm-12">
												<h4 class="panel-title">
			         								<p class="MessageAccordion" data-toggle="collapse" data-parent="#accordion" href="{{'#collapse' + $index + RepliedMsgs.length}}" aria-expanded="false" aria-controls="{{'collapse' + $index + RepliedMsgs.length}}">
			         								<b>{{msg.username}}</b><br/><small>Sent at {{GetTimeFormat(msg.receiptdate)}}</small>
			         								</p>
			        							</h4>
											</div>
			      						</div>
			      						<div id="{{'collapse' + $index + RepliedMsgs.length}}" class="panel-collapse collapse">
			        						<div class="panel-body">
												<p class="MessageAccordion">
													<strong>Your message:</strong><br/>{{msg.message}}
												</p>
			        						</div>
			      						</div>
									</div>
								</div>
							</div>
							<h1 id="no-msg2">No Sent Messages</h1>			    
			            </div>
					</div>
				</div>
				<!-- The Modal -->
				<div id="YesNoModal" class="modal">									
					<!-- Modal content -->
					<div class="modal-content">
						<span class="close" ng-click="CloseDeleteMessage()">&times;</span>
						<div class="modal-title">
							<b><p>Are you sure you wish to delete this message?</p></b>
						</div>
						<div class="modal-footer">
 							<button type="button" data-dismiss="modal" ng-click="ConfirmDeleteMessage()" class="btn btn-primary" id="Yes">Yes</button>
   							<button type="button" data-dismiss="modal" ng-click="CloseDeleteMessage()" class="btn" id="No">No</button>
						</div>								    
					</div>
				</div>
			</div>
  		</div>
	</body>
</html>