<!DOCTYPE html>
<html>
	<head>
		<script src="../../lib/angular.min.js"></script>
		<script src="../../lib/jquery-3.2.1.js"></script>
		<link rel="stylesheet" href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../css/MyAccount.css" />
		<script src="../javascript/MyAccountController.js"></script>
		<script src="../../helperService.js"></script>
  		<title>Account</title>
	</head>
	<body ng-app="app" ng-controller="myAccountController">
		<ul class="Toolbar">
			<b>
				<li><a href="./LandingPage.html">Home</a></li>
				<li><a href="./Ebooks.html">eBooks</a></li>
				<li><a href="./MyAccount.html">My Account</a></li>
				<li><a href="">Contact Us</a></li>
				<li style="padding-left: 15%">
					<img style="width:150px; height:50px;" alt="logo" src="../../Images/Logo.jpg">
				</li>
				<li style="float:right"><a class="active" href="../../Login.html">Sign Out</a></li>
			</b>
		</ul>
		<div class="container">
    		<div class="container-fluid">
  				<div class="row">
  					<div class="col-md-12">
  						<div class="container">
							<div class="row">
								<div class="SpaceFromTop">
									<p class="ProfileData Center">
										<img class="ProfilePic" ng-src="{{user.photo}}">
									</p>
									<p class="ProfileData Center">{{user.username}}</p>
									<p class="ProfileData Center">{{user.nickname}}</p>
									<p class="ProfileData Center">{{user.email}}</p>
									<u><b><p class="YourBooks">Your books:</p></b></u>
									<div class="BackgroundBox">
										<div class="row">
	  										<div class="col-sm-4" ng-repeat="book in books">
												<div class="row">
													<div class="col-sm-4">
														<a>
															<img class="BookCovers" ng-src="{{book.Photo}}"/>
														</a>
													</div>
													<div class="col-sm-8">
														<p class="BookData"><u><b>Title:</b></u> {{book.Name}}</p>
														<p class="BookData"><u><b>Author:</b></u> {{book.Author}}</p>
														
														<p class="BookData"><b>
															<button id="myBtn" ng-click="MyButtonFunc(book)">Read Book</button>
														</b></p>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-2">
														<p class="BookData Drop">
															<a href="#">
																<img id="{{book.Name}}" class="LikeButton" ng-click="LikeBook(book)" ng-src="{{LikeLogo(book.Name)}}"/>
															</a>
														</p>
													
													</div>
													<div class="col-sm-10">
														<div id="tooltip">
															<b> 
																<p class="BookData2">{{book.LikesNum}} Likes</p>
 						 										<span class="tooltiptext">{{GetLikes(book.Likes)}}</span>
															</b>
														</div>
													</div>
												</div>
						  					</div>
						  				</div>
									</div>
								</div>	
							</div>
	  					</div>
  					</div>
            	</div>
            	<!-- The Modal -->
				<div id="myModal" class="modal">									
					<!-- Modal content -->
					<div class="modal-content">
						<span class="close" ng-click="MyModalFunc()">&times;</span>
						<div class="modal-title">
							<b><p>Do you like to continue from where you last stopped?</p></b>
						</div>
						<div class="modal-footer">
 							<button type="button" data-dismiss="modal" ng-click="OpenBook('True')" class="btn btn-primary" id="Yes">Yes</button>
   							<button type="button" data-dismiss="modal" ng-click="OpenBook('False')" class="btn" id="No">No</button>
						</div>								    
					</div>
				</div>
			</div>
  		</div>
	</body>
</html>